$green: #00c200;
$brightgreen: #5ff967;
$red: #c91b00;
$brightred: #ff6d67;
$yellow: #c7c400;
$brightyellow: #fefb67;
$blue: #0225c7;
$brightblue: #6871ff;
$meganta: #c930c7;
$brightmeganta: #ff76ff;
$cyan: #00c5c7;
$brightcyan: #5ffdff;
$white: #c7c7c7;
$brightwhite: #feffff;
$black: #000000;
$brightblack: #676767;

$background: #151515;
$foreground: #c7c7c7;
$default-font-size: 16px;


/*
   original: https://github.com/pages-themes/hacker
*/
$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;