@import "../styles/variables";
@import "../styles/base";

.articles {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 8%;
  padding-right: 8%;
}

.article {
  padding: 20px 0px;
  padding-left: 0px;
  color: $brightwhite;
  list-style-image: url("../images/bullet.png");
  word-wrap: break-word;

  h2 {
    font-size: 26px;
    text-decoration: underline;
  }

  a, a:active, a:hover, a:focus {
    color: $conifer;
  }

  .datetime {
    margin: 20px 0;
  }
}