@import "./assets/stylesheets/variables";

.green {
  color: $green;
}

.brightgreen {
  color: $brightgreen;
}

.red {
  color: $red;
}

.brightred {
  color: $brightred;
}

.yellow {
  color: $yellow;
}

.brightyellow {
  color: $brightyellow;
}

.meganta {
  color: $meganta;
}

.brightmeganta {
  color: $brightmeganta;
}

.cyan {
  color: $cyan;
}

.brightcyan {
  color: $brightcyan;
}

.white {
  color: $white;
}

.brightwhite {
  color: $brightwhite;
}

.blue {
  color: $blue;
}

.brightblue {
  color: $brightblue;
}
