$green: #00c200;
$brightgreen: #5ff967;
$red: #c91b00;
$brightred: #ff6d67;
$yellow: #c7c400;
$brightyellow: #fefb67;
$blue: #0225c7;
$brightblue: #6871ff;
$meganta: #c930c7;
$brightmeganta: #ff76ff;
$cyan: #00c5c7;
$brightcyan: #5ffdff;
$white: #c7c7c7;
$brightwhite: #feffff;
$black: #000000;
$brightblack: #676767;

$background: #151515;
$foreground: #c7c7c7;
$default-font-size: 16px;
